* {box-sizing: border-box}
body {
	font-family: Verdana, sans-serif; 
	margin:0; 
	text-align: center;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin: auto;
}
/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  height: 100%; /* Should be removed. Only for demonstration */
  width: 5%;
   padding: 5px;
}
/* Create two equal columns that floats next to each other */
.column {
  float: right;
  width: 97%;
  padding: 5px;
  height: 100%; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* navigation bar*/
img {vertical-align: middle;}
.topnav {
  overflow: hidden;
  background-color: darkmagenta;
  text-align: center;
}
.topnav a {
  float: left;
  background-color: darkmagenta;
  color: white;
  text-align: center;
  padding: 10px 100px;
  font-size: 17px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: darkmagenta;
  color: white;
  text-decoration: none;
}
/* button of emojis in homepage*/
.button1{
	position: relative;
	height: 155px;
	width: 200px;
	margin: 5px 10px;
	border-width: 2px;
	left: 200px;
}
/* mood bar----------start-----------*/
#myBar{
	width:0%;
	background: green;
	color: lightgreen;
	min-height: 600px;
	float: left;
	margin-right: 20px; 
}
/* button of mood bar */
#button{
	background: green;
	color: white;
	outline: 0;
	font-size: 17px;
	cursor: pointer;
	padding: 5px 10px;
}
#button1{
	background: green;
	color: white;
	outline: 0;
	font-size: 17px;
	cursor: pointer;
	padding: 5px 10px;
}
button.liked {
  color: #0571ed;
}
button.liked i{
  animation: anim 0.5s ease-in-out;
  -webkit-animation: anim 0.5s ease-in-out;
}
#grad1 {
  width: 50px;
  height: 600px;
  margin: auto;
  transform: rotate(180deg);
}
#bar {
  width: 48px;
  height: 0px;
  background: -webkit-linear-gradient(red, yellow, green.purple, lightblue);
  background: -o-linear-gradient(red, yellow, green, purple, lightblue);
  background: -moz-linear-gradient(red, yellow, green, purple, lightblue);
  background: linear-gradient(to bottom right, red, yellow, green, purple, lightblue);
}
#status {
  font-size: 17px;
  transform: rotate(180deg);
}
/* mood bar-------------End---------------*/